<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Calendar</title>
<style type="text/css">
	body{
		font-size: 10px
	}
	.calendar{
		width:50em;
		height: 50em;
	}
	.calendarBody{
		width:99.7%;
		height:96%;
	}
	.calendarHead{
		width:99.7%;
		height:3%;
	}
	
	.calendarRow{
		width:99.7%;
		height:16%;
	}
	.calendarCell{
		width:13.7%;
		height:99.7%;
		border: .1em;
		border-style: solid;
		float:left;
	}
	.calendarCellHeader{
		height:20%
	}
	.calendarHeadCell{
		width:13.7%;
		height:99.7%;
		background-color:#006192;
		color:#FFFFFF;
		float:left;
		padding:.1em;
	}
</style>
</head>
<body>
	Month
	<div class="calendar">
		<div class="calendarHead">
			<div class="calendarHeadCell">
				Sunday
			</div>
			<div class="calendarHeadCell">
				Monday
			</div>
			<div class="calendarHeadCell">
				Tuesday
			</div>
			<div class="calendarHeadCell">
				Wednesday
			</div>
			<div class="calendarHeadCell">
				Thursday
			</div>
			<div class="calendarHeadCell">
				Friday
			</div>
			<div class="calendarHeadCell">
				Saturday
			</div>
		</div>
		<div class="calendarBody">
			<div class="calendarRow">
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
			</div>
			<div class="calendarRow">
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
			</div>
			<div class="calendarRow">
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
			</div>
			<div class="calendarRow">
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
			</div>
			<div class="calendarRow">
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
			</div>
			<div class="calendarRow">
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
				<div class="calendarCell">
					<div class="calendarCellHeader">
						1
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>